<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Examen Admision UA - Promusica</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class='headBolck'>
    <div class='title boldText centerFlex'>Panel de Calificaci&#243;n</div>
    <div class='monitor boldText centerFlex'>Jurado: {{ person }}</div> 
    <div class='subtitle centerFlex'>Examen Admisi&#243;n UA</div>
    <div class='instrumento centerFlex endHeader'>{{ instrumento.replace('_', ' ') }}</div> 
  </div> 
  {% if data %}
    
    <div class='candidate'>
      <div style='text-align: center'>Candidato/a: {{ data['nombre'] }}</div>
      <input name='candidate' type='hidden' id='candidate' value='{{ data["cedula"] }}'></input>
      <div class='gradeBock firstGradeBlock'>
	<div class='gradeLabel'>Obra libre</div> 
	<input type='text' class='textinput textinputGrade' name='libre', id='libre' maxlength='3'> </input> 
      </div> 
      <div class='gradeBock'>
	<div class='gradeLabel'>Escalas</div> 
	<input type='text' class='textinput textinputGrade' name='escalas', id='escalas' maxlength='3'> </input> 
      </div> 
      <div class='gradeBock'>
	<div class='gradeLabel'>Obra preparada</div> 
	<input type='text' class='textinput textinputGrade' name='preparada', id='preparada' maxlength='3'> </input> 
      </div> 
      <div class='gradeBock'>
	<div class='gradeLabel'>Lectura a primera vista</div> 
	<input type='text' class='textinput textinputGrade' name='lectura', id='lectura' maxlength='3'> </input> 
      </div>
      <div class='btnsCont'>
	<button class='btnOk' onclick='checkData()'>ENVIAR</button>
	<form method='post'>
	  <input name='remove' type='hidden' value='{{ data["cedula"] }}'></input>
	  <button class='btnBad' type='submit'>CANCELAR</button> 
	</form>
      </div> 
    </div> 


  {% else %}
    <div class='startBtnCont'>
      <form id='callCandidate' method='post'>
	<input name='start' type='hidden'></input>
	<button class='btnOk'type='submit'>INGRESAR</button>
      </form>
    {% if alerta %}
      <div class='noCandidate'>No hay un candidato activo. Es posible que el monitor aún no haya enviado al sistema la orden o que alguno de los jurados falte por calificar al candidato anterior. Por favor intente nuevamente en unos segundos.</div>
    {% endif %}
    </div> 
  {% endif %}
  {% if data %}
    <div class='logo logo2'>
  {% elif alerta %}
    <div class='logo logo3'>
  {% else %}
    <div class='logo logo1'>
  {% endif %}
    <div class='powered'>Powered by </div> 
    <img src="https://riedmusicapp.com/logoRied.png" alt="Girl in a jacket" width="170">
  </div> 
  <script>
    function checkData() {
	  let candidate = document.querySelector('#candidate');
	  let libre = convertData(document.querySelector("#libre"));
	  let escalas = convertData(document.querySelector("#escalas"));
	  let preparada = convertData(document.querySelector("#preparada"));
	  let lectura = convertData(document.querySelector("#lectura"));
	  if (libre && escalas && preparada && lectura) {
		let text = 'Por favor confirme que las siguiente notas son las que desea reportar.\n\n' +
		  'Obra Libre: ' + libre + '\n' + 
		  'Escalas: ' + escalas + '\n' +
		  'Obra Preparada: ' + preparada + '\n' +
		  'Lectura primera vista: ' + lectura
		if (confirm(text)) {
		      sendData(libre, escalas, preparada, lectura, candidate);
		    } 
	      }
	  else {
		alert('Falta ingresar una o varias notas con un valor entre 0.0 y 5.0')
	      }
	};

    function convertData(data) {
	  data = data.value;
	  data = data.replace(',', '.')
	  const letters = '1234567890.'
	  let response = ''
	  for (const caract of data) {
		if (letters.includes(caract)) {
		      response += caract;
		    };
	      };
	  data = parseFloat(response);
	  if (0 <= data && data <= 5) {
		return data.toFixed(1);
	      };
	};

    function sendData(libre, escalas, preparada, lectura, candidate) {
	  let urlEncodedDataPairs = [], urlEncodedData = '';
	  // Turn the data object into an array of URL-encoded key/value pairs.
	  urlEncodedDataPairs.push( encodeURIComponent( 'candidate' ) + '=' + encodeURIComponent( candidate.value ) );
	  urlEncodedDataPairs.push( encodeURIComponent( 'libre' ) + '=' + encodeURIComponent( libre ) );
	  urlEncodedDataPairs.push( encodeURIComponent( 'escalas' ) + '=' + encodeURIComponent( escalas ) );
	  urlEncodedDataPairs.push( encodeURIComponent( 'preparada' ) + '=' + encodeURIComponent( preparada ) );
	  urlEncodedDataPairs.push( encodeURIComponent( 'lectura' ) + '=' + encodeURIComponent( lectura ) );
	  
	  // Combine the pairs into a single string and replace all %-encoded spaces to
	  // the '+' character; matches the behavior of browser form submissions.
	  urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

	  const XHR = new XMLHttpRequest();
	  const url = window.location.href;
	  XHR.addEventListener( 'load', function(event) {
	    window.location.href = url;
	  } ); 
	  // Set up our request
	  XHR.open( 'POST', url );

	  // Add the required HTTP header for form data POST requests
	  XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

	  // Finally, send our data.
	  XHR.send( urlEncodedData );
	};
  </script> 

</body>

</html>


