<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
  <div class='title'>Ingreso - Examen Admisión UA</div>
  <form method='post'>
    <div class='titulo'>{{ instrumento }}</div> 
    <label for='password' class='titulo'>Clave de acceso</label>
    <input type='hidden' id='instrument' name='instrument' value='{{instrumento}}' ></input>
    <input type='text' id='password' name='password' class='textinput'></input>
    <input type='submit' class='boton'></input> 
  </form> 
</body>
</html>

