<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Examen Admision UA - Promusica</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class='headBolck'>
    <div class='title boldText centerFlex'>Ingreso</div>
    <div class='monitor boldText centerFlex'></div> 
    <div class='subtitle centerFlex'>Examen Admisi&#243;n UA</div>
    <div class='instrumento centerFlex endHeader'>{{ instrumento.replace('_', ' ') }}</div> 
  </div> 
  <div class='MainContainerLogin'>
    <div>
      <div  class='spacerLogin'> </div> 
      <form method='post'>
	<div class='centerFlex'>
	  <label for='password' class='titulo'>Ingrese su n&#250;mero de identificaci&#243;n</label>
	</div> 
	<input type='hidden' id='instrument' name='instrument' value='{{instrumento}}' ></input>
	<div class='centerFlex'>
	  <input type='text' id='password' name='password' class='textinput'></input>
	</div> 
	<div class='centerFlex'>
	  <button class='btnOk'  type='submit' class='boton'>INGRESAR</input>
	</div> 
      </form>
    </div>
    <div class='logo'>
      <div class='powered'>Powered by </div> 
      <img src="https://riedmusicapp.com/logoRied.png" alt="Girl in a jacket" width="170">
    </div> 
  </div>
</body>
</html>

