<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Examen Admision UA - Promusica</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class='headBolck'>
      <div class='title boldText centerFlex'>Monitor Dashboard</div>
      <div class='monitor boldText centerFlex'>Monitor/a: {{ person }}</div> 
      <div class='subtitle centerFlex'>Examen Admisión UA</div>
      <div class='instrumento centerFlex endHeader'>{{ instrumento.replace('_', ' ') }}</div> 
    <div class='startList'>Lista de aspirantes </div> 
    </div> 
  <div class='MainContainer'>
    {% for aspirante in data %}
      <div class='card'>
	<form method='post'>
	  <div style='margin-bottom: 5px'>
	    <label class='boldText'>Identificaci&#243;n: </label><label>{{ aspirante }}</label>
	  </div> 
	  <div>
	    <label class='boldText'>Nombre: </label><label>{{ data[aspirante]['nombre'] }}</label>
	  </div> 
	  {% if data[aspirante]['state'] == 'completed' %}
	    <div class='completed'>Completado</div>
	  {% endif %}
	  {% if active %}
	    {% if data[aspirante]['state'] == 'active' %}
	      <input type='hidden' name='deactivate' value='{{ aspirante }}'> </input>

	      {% if active %}
		{% if pendingJuries %}
		  <div class='pendingAlert'>
		  {% for category in pendingJuries %}
		    {% for jury in pendingJuries[category] %}
		      {% if category == 'noStarted' %}
			<div>{{ jury }} no ha ingresado a calificar</div> 
		      {% elif category == 'noGraded' %}
			<div>{{ jury }} no ha enviado la calificaci&#243;n</div> 
		      {% endif %}
		    {% endfor %}
		  {% endfor %}
		  </div>
		{% endif %}
	      {% endif %}
	      <div class='btnsCont'>
		<button class='btnBad' type='submit'>CANCELAR</button>
		<button class='btnOk' type='submit'>FINALIZAR</button>
	      </div> 
	    {% endif %}
	  {% else %}
	    <input type='hidden' name='activate' value='{{ aspirante }}'</input>
	    {% if data[aspirante]['state'] != 'completed' %}
	      <button class='btnBad' type='submit' class='boton'>INICIAR</button>
	    {% endif %}
	  {% endif %}
	</form>
      </div> 
    {% endfor %}
  </div>
  <div class='logo'>
    <div class='powered'>Powered by </div> 
    <img src="https://riedmusicapp.com/logoRied.png" alt="Girl in a jacket" width="170">
  </div> 
</body>
</html>


